<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SilentPackagesBuilder.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SilentPackagesBuilder.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SilentPackagesBuilder.UserSettings>
            <setting name="LastSelectedPackagesDirectory" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="LastSelectedPackGenExportDirectory" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="LastSavedProjectFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="PackGenLastSuccessExportedPackageDir" serializeAs="String">
                <value />
            </setting>
            <setting name="UIOpenEditorOnAdd" serializeAs="String">
                <value>True</value>
            </setting>
        </SilentPackagesBuilder.UserSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SilentPackagesBuilder.UserSettings>
      <setting name="PackGenConfigFileName" serializeAs="String">
        <value>InstallConfig.psd1</value>
      </setting>
      <setting name="PackGenUserVariablesFileName" serializeAs="String">
        <value>SetupVariablesDefinitions.psd1</value>
      </setting>
    </SilentPackagesBuilder.UserSettings>
  </applicationSettings>
</configuration>